/* ================= CONFIGURAÇÃO GERAL ================= */

/* Remove margens e espaçamentos padrão do navegador */
*{

/* Remove margem padrão */
margin:0;

/* Remove espaçamento interno padrão */
padding:0;

/* Faz com que padding e borda não alterem o tamanho do elemento */
box-sizing:border-box;

}


/* Configuração geral do corpo da página */
body{

/* Define a fonte do site */
font-family:Arial, Helvetica, sans-serif;

/* Define a cor de fundo da página */
background:rgb(10, 28, 38);

}

h2{
    color: aliceblue;
    font-size:2rem;
}

p{
    color: aliceblue;
}

/* ================= NAVBAR ================= */

/* Estilização do cabeçalho */
header{

/* Cor de fundo azul */
background: rgb(17, 61, 79);

/* Cor do texto branca */
color:rgba(252, 252, 252, 0.925);

/* Espaçamento interno */
padding:10px;

background: linear-gradient(to bottom, rgba(0,0,0,0.8)0%,  rgb(12, 34, 46)100%);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.logo img{
  width: 70px;
}

/* Barra de navegação */
.navbar{

    /* Ativa o Flexbox */
display:flex;

/* Espaço entre logo e menu */
justify-content:space-between;

/* Alinha verticalmente os elementos */
justify-content:center;

font-size: 1.5rem;

}

/* Logo do site */
.logo{

/* Tamanho da fonte */
font-size:24px;

/* Texto em negrito */
font-weight:bold;

}

.links {
  text-decoration: none; /* Remove o sublinhado padrão */
  color: #ede7e7;
  position: relative; /* Necessário para posicionar o sublinhado */
  padding-bottom: 5px; /* Espaço entre o texto e a linha */
  margin: 0 15px;
  font-family: sans-serif;
}


.links::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #357ca4; /* Cor da linha */
  visibility: hidden;
  transform: scaleX(0); /* Esconde a linha no início */
  transition: all 0.3s ease-in-out; /* Velocidade da animação */
}

/* Animação no Hover */
.links:hover::after {
  visibility: visible;
  transform: scaleX(1); /* Faz a linha aparecer */
}


/* Links do menu */
nav a{

/* Cor do texto */
color:white;

/* Remove sublinhado */
text-decoration:none;

/* Espaçamento entre os links */
margin-left:50px;

/* Texto em negrito */
font-weight:bold;

}


/* ================= BANNER ================= */

/* Estilização do banner */
.banner{

/* Imagem de fundo */
background: url(../imgturismo/destinos-turisticos-4.jpg);

/* Ajusta imagem para ocupar todo espaço */
background-size:cover;

/* Altura do banner */
height: 640px;

/* Ativa Flexbox */
display:flex;

/* Centraliza verticalmente */
align-items:center;

/* Centraliza horizontalmente */
justify-content:center;

/* Cor do texto */
color:white;

/* Centraliza texto */
text-align:center;

}


/* Texto sobre imagem */
.banner h1{
margin-top: 75px;
/* Fundo preto com transparência */
background:rgba(17, 61, 79, 0.555);

/* Espaçamento interno */
padding:20px;

/* Bordas arredondadas */
border-radius:5px;

font-size: 5rem;

font-family: 'Times New Roman', Times, serif;
}


/* ================= CONTAINER ================= */

/* Área principal do conteúdo */
.container{

/* Define largura */
width:85%;

/* Centraliza conteúdo */
margin:40px auto;

}


/* ================= FLEX ================= */

/* Layout em duas colunas */
.flex{

/* Ativa Flexbox */
display:flex;

/* Alinha verticalmente */
align-items:center;

/* Espaço entre colunas */
gap:40px;

/* Espaço inferior */
margin-bottom:30px;

}


/* ================= TEXTO ================= */

/* Coluna de texto */
.texto{
    font-size: 25px;
    text-align: center;

}


/* ================= IMAGEM ================= */


/* Estilização da imagem */
.imagem img{

/* Largura total */
width:100%;

/* Altura fixa */
height:280px;

/* Ajusta imagem sem distorcer */
object-fit:cover;

/* Bordas arredondadas */
border-radius:20px;

}

/* CARDS */
.pontos h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* GRID DE CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  width: 650px;
  min-height: 320px;

  display: flex;
  align-items: center;

  background: #111;
  border-radius: 20px;
  overflow: hidden;

  transition: 0.3s;
}

/* IMAGEM */
.card img {
  width: 250px;
  height: 80%;
  width: 85%;
  object-fit: cover;
}

/* CONTEÚDO */
.conteudo {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TÍTULO */
.card h3 {
  color: white;
  margin-bottom: 15px;
  font-size: 24px;
}

/* TEXTO */
.card p {
  color: #aaa;
  font-size: 16px;
  line-height: 1.5;
}

/* HOVER */
.card:hover {
  transform: translateY(-5px);
  border: 2px solid #1a2531;
  box-shadow:
    0 0 10px #103361,
    0 0 25px #051d3b,
    0 0 50px rgba(21, 74, 109, 0.5);
}
/* ================= CARDS ================= */

/* Área dos cards */


.card p {

  font-size: 20px;
  
}

/* sombra por cima */
.sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* controla a escuridão */
  top: 0;
  left: 0;
}

/* texto fica acima da sombra */
.info {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  z-index: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.titulos{
  color: white;
  
}

.img{
  border-radius: 30px;
  margin-left: 30px ;
}
/* ================= FOOTER ================= */

/* Rodapé */
footer{

/* Cor de fundo escura */
background:#021224;

/* Cor do texto branca */
color:white;

/* Centraliza texto */
text-align:center;

/* Espaçamento interno */
padding:40px;

background:linear-gradient(to bottom, rgb(10, 28, 38), rgb(17, 61, 79));

}